.time-container {
    text-align: center;
}
.time-inner-container {
    display: inline-block;
}
.time-digits {
    font-size: 4em;
}
.time-text {
    display: flex;
    justify-content: space-around;
    color: grey;
}
.btns{
    display: flex;
    justify-content: center;
    margin-top: 3%;
}